* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #DC3545;
}

body {
    background-color: rgb(236, 236, 236);
}

header {
    padding: 0 1em;
    background-color: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;
}

nav {
    display: flex;
    justify-content: space-between;
}


.navbar-brand img {
    height: 2em;
}

.nav-link:hover {
    transition: 0.3s;
    color: var(--mainColor);
}

.tittle-container {
    width: 100%;
    background-color: var(--mainColor);
    color: white;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    min-height: 90vh;
}

.chk-search-container {
    padding: 0 2em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-group {
    width: 100%;
    gap: 0.2em
}

/* .btn-group button{
transition: none;
}

.btn-group button:checked{
transition: none;
} */

form {
    width: 100%;
}

.checkboxProp {
    word-wrap: break-word;
    background-color: white;
}


.checkboxProp:hover {
    transition: 0.3s;
    box-shadow: var(--mainColor)inset 0px -1px 1px;
}


.cards-container {
    width: 100%;
    gap: 1em;
}

.card {
    margin: 1em 0;
    border-radius: 0 2em;
    height: 25em;
    border: none;
    border: 1px solid rgb(180, 180, 180);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card:hover {
    transition: 0.4s;
    transform: scale(1.02);
}

.card-body {
    padding: 0 1em 1em 1em;
}

.card-body .card-text {
    max-height: 6em;
    max-width: 100%;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card img {
    margin: 1em;
    border-radius: 0 2em;
    height: 12em;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-detail {
    height: 40em;
}

.card-detail:hover {
    transition: none;
    transform: none;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 20, 20);
    height: 8em;
    color: white;
    padding: 2em;
    gap: 1em;
}

.social-container {
    width: 10em;
    display: flex;
    justify-content: space-between;
}

.social-container a {
    border-radius: 60%;

}

.social-container a:hover {
    transition: 0.5s;
    box-shadow: rgb(209, 209, 209) 0px 5px 18px -8px;
    border: 1px solid rgb(104, 104, 104);
}


.social-container svg {
    margin-bottom: 0.15em;
}

.wpp:hover {
    color: rgb(20, 20, 20);
    background-color: rgb(121, 255, 111);
}

.ig:hover {
    color: rgb(20, 20, 20);
    background-color: rgb(255, 111, 209);
}

.fb:hover {
    color: rgb(20, 20, 20);
    background-color: rgb(111, 219, 255);
}

table,
th,
tr,
td {
    border: 1px solid rgb(160, 160, 160);
    border-collapse: collapse;
}

.table td {
    background-color: white;
}

.table-subtittle td {
    background-color: #dffcf6;
}

.table-subtittle td {
    background-color: #dffcf6;
}


.table th {
    color: white;
    background-color: #246457;
}

.notFoundMsg {
    color: rgb(49, 49, 49)
}

@media (min-width:768px) {
    .table {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    footer {
        flex-direction: row;
    }

    .card-detail {
        flex-direction: row;
        justify-content: space-evenly;
        height: 28em;
        padding-top: 2em;
        padding-bottom: 0.5em;

    }

    .card-detail img {
        margin-top: 0;
        padding-bottom: 0;
        height: 24.2em;
        width: 40%;
    }

    .card-detail .card-body {
        padding-top: 0;
        border-top: none;
        max-width: 25em;
    }

    footer {
        height: 6em;

    }

}

@media (min-width:1024px) {
    .chk-search-container {
        flex-direction: row;
    }

    form {
        width: 25em;
    }

}